{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V5</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'images2/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor2/bootstrap/css/bootstrap.min.css'%} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts2/font-awesome-4.7.0/css/font-awesome.min.css'%} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'fonts2/Linearicons-Free-v1.0.0/icon-font.min.css'%} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor2/animate/animate.css'%} ">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'vendor2/css-hamburgers/hamburgers.min.css'%} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor2/animsition/css/animsition.min.css'%} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'vendor2/select2/select2.min.css'%} ">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{%static 'vendor2/daterangepicker/daterangepicker.css'%} ">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{%static 'css2/util.css'%} ">
	<link rel="stylesheet" type="text/css" href="{%static 'css2/main.css'%} ">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url({%static 'images2/bg-01.jpg'%});">
			<div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-53">
						Sign In With
					</span>

					<a href="#" class="btn-face m-b-20">
						<i class="fa fa-facebook-official"></i>
						Facebook
					</a>

					<a href="#" class="btn-google m-b-20">
						<img src="{% static 'images2/icons/icon-google.png' %}" alt="GOOGLE">
						Google
					</a>
                    
                    <form method="post">
                        {%csrf_token%}
                        {{form.as_p}}
                        <button type="submit" class="login100-form-btn" > Sign In </button>
                        
                    </form>
                    <div class="container-login100-form-btn m-t-17">
                    </div>

					<div class="w-full text-center p-t-55">
						<span class="txt2">
							Not a member?
						</span>

						<a href="#" class="txt2 bo1">
							Sign up now
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{%static 'vendor2/jquery/jquery-3.2.1.min.js'%} "></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor2/animsition/js/animsition.min.js'%} "></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor2/bootstrap/js/popper.js' %} "> </script>
	<script src="{%static 'vendor2/bootstrap/js/bootstrap.min.js'%} "></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor2/select2/select2.min.js'%} "></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor2/daterangepicker/moment.min.js'%} "></script>
	<script src="{%static 'vendor2/daterangepicker/daterangepicker.js'%} "></script>
<!--===============================================================================================-->
	<script src="{%static 'vendor2/countdowntime/countdowntime.js'%} "></script>
<!--===============================================================================================-->
	<script src="{%static 'js2/main.js'%}"></script>

</body>
</html>